.div_beian{
    width:300px;
    margin:0 auto; 
    padding:20px 0;
    position:fixed;
    bottom: 0;
}

.img_beian{
    float:left;
}

.p_beian{
    float:left;
    height:20px;
    line-height:20px;
    margin: 0px 0px 0px 5px; 
    color:#939393;
}

.a_beian{
    display:inline-block;
    text-decoration:none;
    height:20px;
    line-height:20px;
}